<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
		<style>
			* {
				margin: 0;
				padding: 0;
			}
		</style>
	</head>
	<body>
		<div id="app">
			<div>
				<div class="father">
					<h4>父亲姓名:易烊千玺</h4>
					<h4>妻子姓名: <input type="text" v-model="mom_name" /></h4>
					<h4>大儿子媳妇姓名:{{uname}}</h4>
					<br />
				</div>
				<son_first :mom_name="mom_name" @change_name="uname = $event"></son_first>
				<son_second :mom_name="mom_name" :uname="uname"></son_second>
			</div>
		</div>
		<script src="./vue.js"></script>
		<script>
			// 大儿子组件
			Vue.component('son_first', {
				props: ['mom_name'],
				data: function () {
					return {
						name: ''
					}
				},
				created() {
					this.init()
				},
				methods: {
					init() {
						this.$emit('change_name', this.name)
					}
				},

				template: `<div class="son_first">
					<h4>姓名:王俊凯</h4>
					<h4>妈妈姓名:{{mom_name}} </h4>
					<h4>老婆姓名:<input type="text" v-model="name"  @input="$emit('change_name',name)" ></h4>
					<br>
				</div>`
			})
			// 小儿子组件
			Vue.component('son_second', {
				props: ['mom_name', 'uname'],
				data: function () {
					return {
						uname2: ''
					}
				},

				template: `<div class="son_second">
					<h4>姓名:王源</h4>
					<h4>妈妈姓名: {{mom_name}} </h4>
					<h4>大嫂姓名:{{uname}}</h4>
				</div>`
			})
			var vm = new Vue({
				el: '#app',
				data: {
					mom_name: '',
					uname: ''
				}
			})
		</script>
	</body>
</html>
